* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    overflow: hidden;
    background-image: url(../images/drew-coffman-1872.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;

}

.about {
    background-color: teal;
    color: white;

}

.caption {
    width: 50%;
    color: white;
    text-align: center;
    margin: 200px auto;

}


.panel {
    background-color: antiquewhite;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    padding: 5px;
    margin: 100px auto;
    width: 40px;
    height: 85px;
    position: absolute;
    z-index: 99;
    right: 0;


}

.panel img {

    padding: 6px;
    right: 0;
    top: 40%;
    width: 35px;
    height: 35px;


}

.panel img:hover {
    background-color: rgb(147, 125, 2);
    border-radius: 10%;


}